@import url(https://fonts.googleapis.com/css2?family=Inter&display=swap);

.Container{
    display: flex;
    height: 754px; 
    font-family: Inter;  
}

.left2{
    width:45%;
    /* background-color: #1565D8; */
    padding-top:40px;
    padding-left: 80px;
    background: none;
}

.right2{
    padding-left: 30px;
}

.pic{
    position: absolute;
    left: 400px;
    bottom: 150px;
    z-index: -1;
}

.typography2{
    width: 300px;
    text-align: center;
}

.heading2{
    font-size: 30px;
    margin-left: 20px;
    margin-top: 100px;
}

.para2{
    font-size: 12px;
    padding-left: 20px;
    color:#8692A6;
}


.media:hover{
    cursor: pointer;
}

.question{
    color: #696F79;
    font-size: 12px;
    padding-left: 50px;
}

.switch{
    color:#1565D8;
}
.switch:hover{
    cursor: pointer;
    text-decoration: underline;
}